:root{
    --primary-color: #000;
    --secondary-color: #474747;
    --third-color: #cad1cc;
    --highlight-color: #fc8825;
    --light-color: #fff; 
    --bs-body-bg: #8f9491;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {scroll-behavior: smooth;}

#homepage {
    height: 100hv;
}

.navbar-brand {
    color: var(--light-color);
    font-size: 1.5rem;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3)!important;
}

.navbar-toggler-icon {
    color: var(--light-color)!important;
}

.menu-button-navbar {
    color: #fefbfe;
}

#offcanvasNavbarLabel {
    color: var(--highlight-color);
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
}

.First-letter {
    font-weight: bold;
    color: var(--highlight-color);
}

.bg-menu {
background-color: var(--third-color)!important;
}

.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.6;
    z-index: 1;
}

.hero-title {
    z-index: 2;
    padding-bottom: 5rem;
}

.hero-text {
    color: var(--light-color);
    opacity: 0.8;
    max-width: 400px;
}

.title-hero-text {
    font-size: 3rem;
    text-shadow: 2px 2px #000;
    margin-bottom: 2rem;
}

.sub-hero-text {
    font-size: 1.7rem;
}

.container-space{
    padding: 3rem 0;
}

.btn-gallery {
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    z-index: 2;
}

.btn-gallery:hover {
    background-color: var(--highlight-color) !important;
    border-color: var(--highlight-color)!important;
    color: var(--light-color)!important;
}

