/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=14S0u0kkxnO00++5sm-J7oO+E07 */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #732E7C } /* Main Primary color */
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #746276 }
.color-primary-3 { color: #720182 }
.color-primary-4 { color: #010001 }



body, html {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

/*#home {
  height: 100%;
  background-image: url(images/cover.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
*/

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 5rem !important;
}

header h1 {
  font-weight: 500;
  font-size: 3rem;
  color: #FFFFFF;
  text-shadow: 1px 1px black;
}

header p {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-shadow: 1px 1px black;
}

.buffer {
  padding: 2rem 0rem;
}

.btn-success {
    --bs-btn-bg: #720182;
}

.check {
  font-size: 1.5rem;
}

#about-me {
  margin-top: 2rem;
}